*.lso
*.ngc
*.xrpt
*.cmd_log
*.xise
*.gise
*.log
*.xmsgs
*.cmd
*.xreport
*.ngr
*.prj
*.stx
*.syr
*.xst
*.projectmgr
*.html
*.ini
*.xml
*.wdb
*.xbcd
*.lst
*.map
*.mrp
*.ncd
*.ngm
*.csv
*.xpi
*.nlf
*.sdf
*.nlm
*.tcl
*.bld
*.ngd
*.pad
*.ptwx
*.twx
*.ucf
*pad.txt
*.unroutes
*.twr
*.pcf
*.par
*.debug

planAhead_run*
netgen
isim
work